$def with(course,tasks,users,audiences,tutored_audiences,tutored_users,old_params,msg, error)
$var title: Reporting

$var Column: $:template_helper.call('course_admin_menu',course=course,current='reporting')

$#
$# This file is part of Reporting plugin. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$def NavbarF():
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="$get_homepath()/course/$course.get_id()">$course.get_name(user_manager.session_language())</a></li>
            <li class="breadcrumb-item"><a href="$get_homepath()/admin/$course.get_id()" title="Administration" data-toggle="tooltip" data-placement="bottom">
                <i class="fa fa-user-secret"></i></a></li>
            <li class="breadcrumb-item active"><a href="#"><i class="fa fa-bar-chart"></i> Reporting <span class="sr-only">(current)</span></a></li>
        </ol>
    </nav>
$var Navbar: $:NavbarF()

<h1>Reporting - Select datas</h1>
<form method="POST">
    $:include.course_admin.submissions_tabs.query(course, users, tutored_users, audiences, tutored_audiences, tasks, old_params, "stats#alerts", True)

    <!--<button class="form-control" type="submit">Make report</button>-->
</form>
