$def with(course,stud_ids,task_ids,task_titles)
$var title: Reporting
$var header:
    <script src="$get_homepath(True)/static/js/libs/chart.min.js"></script>
    <script src="$get_homepath(True)/plugins/reporting/static/chartjs-plugin-annotation.min.js"></script>
$var Column: $:template_helper.call('course_admin_menu',course=course,current='reporting')

$#
$# This file is part of Reporting plugin. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$def NavbarF():
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="$get_homepath()/course/$course.get_id()">$course.get_name(user_manager.session_language())</a></li>
            <li class="breadcrumb-item"><a href="$get_homepath()/admin/$course.get_id()" title="Administration" data-toggle="tooltip" data-placement="bottom">
                <i class="fa fa-user-secret"></i></a></li>
            <li class="breadcrumb-item active"><a href="#"><i class="fa fa-bar-chart"></i> Reporting <span class="sr-only">(current)</span></a></li>
        </ol>
    </nav>
$var Navbar: $:NavbarF()

<h1>Reporting - Results</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" id="diag1" data-toggle="tab" href="#home">Diagram 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="diag2"  data-toggle="tab" href="#menu1">Diagram 2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="diag3"  data-toggle="tab" href="#menu2">Suspicious</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container-fluid active" id="home"></div>
  <div class="tab-pane container-fluid fade" id="menu1"><canvas id="myChart2"></canvas></div>
  <div class="tab-pane container-fluid fade" id="menu2">
        <div class="card mb-3 section">
            <div id="query_header" class="card-header">
                <span class="title"> Filters </span>
            </div>

            <div class="card-body content">
              <div class="form-group">
                <label for="duration_input">Duration filter (less than ...)</label>
                <input id="duration_input" type="number" min="1" placeholder="Minutes" class="form-control" aria-describedby="descr_dur">
                <small id="descr_dur">Time lapse between first and last submission</small>
              </div>
              <div class="form-group">
                <label for="min_sub_input">Submissions filter (less than ...)</label>
                <input id="min_sub_input" type="number" min="1" placeholder="# submissions" class="form-control" aria-describedby="descr_sub">
                <small id="descr_sub">Number of submissions per question</small>
              </div>
              <div class="form-group">
                <label for="task_answered_input">Number of tasks answered (at least ...)</label>
                <input id="task_answered_input" type="number" min="1" max="$len(task_ids.split(','))" placeholder="# tasks" class="form-control">
              </div>
              <div class="form-group">
                <label for="grade_per_question_input">Grade per question (higher or equal)</label>
                <input id="grade_per_question_input" type="number" min="0" max="100" placeholder="grade" class="form-control">
              </div>
            </div>
        </div>

      <table id="sub_table" class="table"></table>
  </div>
</div>
<div style="display: none">
    $for elem in task_titles:
        <p id="$elem">$task_titles[elem]</p>
</div>


<script>
    /**
     *
     * Helpers
     *
     */
    const reducer = (accumulator, currentValue) => accumulator + currentValue;
    function mean(table,labels){
        if (table.length === 0){
            return 0
        }else{
            let sumnote = 0;
            let i=0
            while (i< table.length){
                sumnote+= labels[i]*table[i];
                i++;
            }
            let nstudents = table.reduce(reducer);
            return Math.round((sumnote/nstudents)*2)*0.5;
        }
    }
    function standard_deviation(table,labels, mean){
        let result;
        let sub_sum =0;
        let i=0;
        while(i<table.length){
            let j=1;
            while (j <= table[i]){
                let val = Math.pow(Math.abs(labels[i]-mean),2);
                sub_sum+=val;
                j++;
            }
            i++;
        }
        let nstudents = table.reduce(reducer);
        result = sub_sum/nstudents;
        return Math.sqrt(result);
    }

    /**
     *
     * Requests
     *
     */

    function diagram_request(name) {
      const url = window.location.href +"/"+ name;
      $$.ajax({
        url: url,
        data: {
          "student_ids": "$str(stud_ids)",
          "task_ids": "$str(task_ids)"
        },
        type: "POST",
        success: function (result) {
          let json_result = JSON.parse(result);
          if (name ==="diag1"){
            for (const [title,subdict] of Object.entries(json_result)){
              $$("#home").append("<canvas id='canvas_"+title+"'></canvas>");
              title_text = $$("#"+title).text();
              display_diagram_1(subdict,title,title_text);
            }

          }else if (name === "diag2"){
            display_diagram_2(json_result);
          }else if (name === "diag3"){
            display_diagram_3(json_result);
          }else {
            console.log("none");
          }

        },
        error: function (error) {
          console.log("ERROR - " + error.responseText);
        }
      })
    }
     /**
     *
     * Displays of the histogram
     *
     */
    function display_diagram_1(table_stud_per_note,canvas_name,title){

        //initialisation
        var values = new Array(40);
        values.fill(0);
        //This is to pass percentage to /20 value
        for (const [key, value] of Object.entries(table_stud_per_note)) {
          values[(key)*2] = value;
        }
        var labels = [0,0.5,1,1.5,2,2.5,3,3.5,4,4.5,5,5.5,6,6.5,7,7.5,8,8.5,9,9.5,10,10.5,11,11.5,12,12.5,13,13.5,14,14.5,15,15.5,16,16.5,17,17.5,18,18.5,19,19.5,20];
        var m = mean(values,labels);
        var sd = standard_deviation(values,labels,m);
        sd = Math.round(sd*2)*0.5;
        var b1 = m-sd;
        var b2 = m+sd;
        if(b1 < 0){
          b1=0;
        }
        if(b2 > 20){
          b2=20;
        }
        var dat =[{x:b1,y:10},{x:b2,y:10}];
        var lines = [
                      {
						type: 'line',
                        label:{content:'Mean',enabled:true,fontColor: "#000",backgroundColor:'red',cornerRadius: 0,position:"bottom"},
						mode: 'vertical',
						scaleID: 'x-axis-label',
						value: m,
						borderColor: 'red',
						borderWidth: 1,

                      }
                    ];


        var ctx = document.getElementById('canvas_'+canvas_name).getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                datasets: [{
                    label: 'StudentPerNote',
                    data: values
                },{
                    type: 'line',
                    label:'StandardDeviation',
                    data: dat,
                    mode :'horizontal',
                    scaleID:'x-axis-label',
                    backgroundColor:'lightblue',
                }
              ],
                labels: labels
            },
            options:{
                title: {
                  display: true,
                  text: title
                },
                responsive: true,
                scales: {
                    xAxes: [{
                        id : 'x-axis-label',
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Note'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Students'
                        },
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                annotation: {
                    drawTime: 'afterDatasetsDraw',
                    events : ["click"],
                    annotations: lines
                  }
            },
        });
    }

    function display_diagram_2(table_per_task){
      let nstuds =table_per_task["nstuds"];
      let task_ids ="$task_ids".split(",");
      let viewed =[];
      let attempted = [];
      let succeeded = [];
      let title_text = [];
      for (task_id of task_ids){
          title_text.push($$("#"+task_id).text());
          viewed.push(table_per_task[task_id][0]["viewed"]);
          attempted.push(table_per_task[task_id][0]["attempted"]);
          succeeded.push(table_per_task[task_id][0]["succeeded"]);
      }

      var line = [
          {
            type: 'line',
            label:{content:'Total Students',enabled:true,fontColor: "#000",backgroundColor:'red',cornerRadius: 0,position:"bottom"},
            mode: 'horizontal',
            scaleID: 'y-axis-label',
            value: nstuds,
            borderColor: 'red',
            borderWidth: 1,

          }
      ];

      var ctx = document.getElementById('myChart2').getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                datasets: [
                    {
                        label: "Viewed",
                        backgroundColor: "blue",
                        data: viewed
                    },
                    {
                        label: "Attempted",
                        backgroundColor: "red",
                        data: attempted
                    },
                    {
                        label: "Succeeded",
                        backgroundColor: "green",
                        data: succeeded
                    }
                ],
                labels: title_text
            },
            options:{
                responsive: true,
                scales: {
                    xAxes: [{
                        id : 'x-axis-label',
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Tasks'
                        },
                        ticks: {
                            autoSkip: false,
                            maxRotation: 90,
                            minRotation: 90
                        }
                    }],
                    yAxes: [{
                      id : 'y-axis-label',
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: ' #Students'
                        },
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                annotation: {
                    drawTime: 'afterDatasetsDraw',
                    events : ["click"],
                    annotations: line
                  }
            },
        });
    }

    function display_diagram_3(json_result){
        $$('#sub_table').html('<thead id="table_header" class="table-borderless"><tr id="table_id_labels"><th></th><th></th></tr></thead>');
        $$('#table_header').append('<tr id="table_labels"><th>Student</th><th>Course Duration</th></tr>');
        for (var student in json_result){
            cols = Object.keys(json_result[student]).length;
            for (var task in json_result[student]["tasks"]){
                $$('#table_id_labels').append('<th colspan="2">'+task+'</th>');
                $$('#table_labels').append('<th># submissions</th><th>grade</th>');
            }
            break;
        }
        $$('#table_id_labels').append('<th></th>');
        $$('#table_labels').append('<th>Total</th>');

        //
        $$('#sub_table').append('<tbody id="table_body"></tbody>');
        for (var student in json_result){
            var mins = ((json_result[student]["course_time"]["days"]*60+json_result[student]["course_time"]["hours"])*60+json_result[student]["course_time"]["minutes"]);
            $$('#table_body').append('<tr id="'+student+'" class="stud" data-nb_task="'+ json_result[student]["nb_task"] +'" data-minutes="'+mins+'">' +
                '<td><a href="$get_homepath()/admin/$course.get_id()/student/'+student+'">'+student+'</a></td><td class="course_duration">'
                                +json_result[student]["course_time"]["days"]+' days '
                                +json_result[student]["course_time"]["hours"]+' hours '
                                +json_result[student]["course_time"]["minutes"]+' minutes '
                                +json_result[student]["course_time"]["seconds"]+' seconds</td></tr>');
            for (var task in json_result[student]["tasks"]){
                if (json_result[student]["tasks"][task]["count"] === 0 && json_result[student]["tasks"][task]["grade"]===0){
                    $$('#'+student+'').append('<td class="bg-secondary sub_count" style="border-left: solid grey 1px;" data-count="'+ json_result[student]["tasks"][task]["count"] +'">'+ json_result[student]["tasks"][task]["count"] +'</td>');
                    $$('#'+student+'').append('<td class="bg-secondary grade_task" data-grade="'+json_result[student]["tasks"][task]["grade"]+'">'+ json_result[student]["tasks"][task]["grade"] +'%</td>');
                }else{
                    $$('#'+student+'').append('<td class="sub_count" style="border-left: solid grey 1px;" data-count="'+ json_result[student]["tasks"][task]["count"] +'">'+ json_result[student]["tasks"][task]["count"] +'</td>');
                    $$('#'+student+'').append('<td class="grade_task" data-grade="'+json_result[student]["tasks"][task]["grade"]+'">'+ json_result[student]["tasks"][task]["grade"] +'%</td>');
                }

            }
            $$('#'+student+'').append('<td>'+ json_result[student]["total"] +'%</td>');
        }
    }
    function filter_duration(minutes,duration_val){
        return parseInt(minutes) <= parseInt(duration_val);
    }

    function filter_task_answered(nb_task,task_val){
        return parseInt(nb_task) >= parseInt(task_val);
    }

    function filter_grade(table_id, grade_val) {
        if (grade_val ===0){
            return true;
        }
        let show = true;
        $$('#'+table_id+' tr.stud td.grade_task').each(function () {
            if ($$(this).data('grade') >= grade_val && $$(this).data('grade')>=0) {
                $$(this).addClass("bg-danger");
            }else{
                show=false;
                $$(this).removeClass("bg-danger");
            }
        });
        return show;
    }

    function filter_submissions(table_id, sub_val) {
        if (sub_val===9999999999){
            return true;
        }
        var count = 0;
        $$('#'+table_id+' tr.stud td.sub_count').each(function () {
            if ($$(this).data('count') <= sub_val && $$(this).data('count')>0) {
                count++;
                $$(this).addClass("bg-warning");
            }else{
                $$(this).removeClass("bg-warning");
            }
        });
        return count > 0;
    }

    function filter(){
        var duration_val = $$('#duration_input').val();
        var task_val = $$('#task_answered_input').val();
        var sub_val = $$('#min_sub_input').val();
        var grade_task_val = $$('#grade_per_question_input').val();
        if (duration_val === "" && task_val === "" && sub_val === "" && grade_task_val === ""){
            //show all
            $$('#sub_table tr.stud').each(function(){
                $$(this).show();
            });
        }else{
             // if value is "" change to dummy value to pass filter
            if (duration_val === ""){
                duration_val = 99999999999;
            }
            if (task_val === ""){
                task_val = 0;
            }
            if(sub_val === ""){
                sub_val=9999999999;
            }
            if(grade_task_val === ""){
                grade_task_val=0;
            }
            $$('#sub_table tr.stud').each(function(){
            var minutes = $$(this).data("minutes");
            var nb_task = $$(this).data("nb_task");
            if (filter_submissions("sub_table",sub_val) &&
                filter_duration(minutes,duration_val) &&
                filter_task_answered(nb_task,task_val) &&
                filter_grade("sub_table",grade_task_val)){
                $$(this).show();
            }else{
                $$(this).hide();
            }

        });
        }
    }

    $$( document ).ready(function() {
       diagram_request("diag1");
    });

    $$("#diag2").click(function () {
        diagram_request("diag2");
    })
    $$("#diag3").click(function () {
        diagram_request("diag3");
        $$('#duration_input').on("change",function () {
            filter();
        });
        $$('#task_answered_input').on("change",function () {
            filter();
        });
        $$('#min_sub_input').on("change",function () {
            filter();
        });
        $$('#grade_per_question_input').on("change",function () {
            filter();
        });
    })
</script>